let products = [

{
name:"MacBook Pro 2019",
price:21500000,
img:"https://images.unsplash.com/photo-1517336714731-489689fd1ca8"
},

{
name:"Dell XPS 13",
price:15900000,
img:"https://images.unsplash.com/photo-1496181133206-80ce9b88a853"
},

{
name:"ThinkPad X1 Carbon",
price:11500000,
img:"https://images.unsplash.com/photo-1588872657578-7efd1f1555ed"
},

{
name:"HP EliteBook 840",
price:9900000,
img:"https://images.unsplash.com/photo-1541807084-5c52b6b3adef"
}

]

let cart = JSON.parse(localStorage.getItem("cart")) || []

function loadProducts(){

let html=""

products.forEach((p,i)=>{

html+=`

<div class="card">

<img src="${p.img}">

<h3>${p.name}</h3>

<p class="price">${p.price.toLocaleString()}đ</p>

<button onclick="addCart(${i})">Thêm giỏ</button>

</div>

`

})

document.getElementById("products").innerHTML=html

}

function addCart(i){

cart.push(products[i])

localStorage.setItem("cart",JSON.stringify(cart))

document.getElementById("cart-count").innerText=cart.length

alert("Đã thêm vào giỏ hàng")

}

function searchProduct(){

let keyword=document.getElementById("search").value.toLowerCase()

let filtered=products.filter(p=>p.name.toLowerCase().includes(keyword))

let html=""

filtered.forEach(p=>{

html+=`

<div class="card">

<img src="${p.img}">

<h3>${p.name}</h3>

<p class="price">${p.price.toLocaleString()}đ</p>

<button>Thêm giỏ</button>

</div>

`

})

document.getElementById("products").innerHTML=html

}

document.getElementById("cart-count").innerText=cart.length

loadProducts()
